{% extends "base.html"%}

{% block content %}
<script type="text/javascript" src="static/js/admin.js"></script>
<link href="/static/css/admin.css" rel="stylesheet">

<div id="changePassword" class="hidden">
	<div align="center">
		<button class="btn btn-default swap-change">Change Other Info</button>
	</div>
	
	<form class="form-horizontal" method="post">
		<div class="form-group" align="center">
			<label class="col-sm-4 control-label">Current Password:</label>
			<input class="col-sm-4" type="password" placeholder="Current Password" name="currentPassword">
		</div>
		<div class="form-group" align="center">
			<label class="col-sm-4 control-label">New Password:</label>
			<input class="col-sm-4" type="password" placeholder="New Password" name="newPassword">
		</div>
		<div class="form-group" align="center">
			<label class="col-sm-4 control-label">Verify New Password:</label>
			<input class="col-sm-4" type="password" placeholder="Verify New Password" name="verifyNewPassword">
		</div>
		<!--<label>Current Password: <input type="password" name="currentPassword" /></label>
		<label>New Password: <input type="password" name="newPassword" /></label>
		<label>Verify New Password: <input type="password" name="verifyNewPassword" /></label>-->
		
		<button type="submit" class="btn btn-primary" name="updatePassword">Update Password</button>
	</form>
</div>

<div id="otherChanges">
	<div align="center">
		<button class="btn btn-default swap-change">Change Password</button>
	</div>
	<form class="form-horizontal" method="post">
		<div class="form-group" align="center">
			<label class="col-sm-4 control-label">Change Email:</label>
			<input class="col-sm-4" type="email" placeholder="Email Address (@brown.edu)" name="email" value={{user.email}}>
			<div style="color: red">{{emailError}}</div>
		</div>
		
		<div class="form-group" >
			<label class="col-sm-4 control-label">Change Venmo Email:</label>
			<input class="col-sm-4" type="email" placeholder="Venmo Email Address" name="venmo_email" value={{user.venmo_email}}>
			<div style="color: red">{{venmoEmailError}}</div>
		</div>
	
		<div class="form-group" >
			<label class="col-sm-4 control-label">Biography:</label>
			<textarea name="bio" placeholder="Put some information about yourself here." class="col-sm-4" rows="4" cols="50">{{user.bio}}</textarea>
		</div>
			
		<button type="submit" class="btn btn-primary" name="otherChanges">Save Changes</button>
	</form>
</div>

<div align="center" style="margin-top: 20px; color: green">{{ updateSuccess }}</div>	
<div align="center" style="margin-top: 20px; color: red">{{ updateError }}</div>	

</body>
</html>

{% endblock %}