
<!DOCTYPE html>

<html>
	<head>
		<title>College Carpool</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/base.css" rel="stylesheet">
		<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="_ah/channel/jsapi"></script>
	</head>

	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<ul class="nav navbar-nav">
				<li><a href="/home">Home</a></li>
				<li><a href="/postride">Post a Trip</a></li>
				<li><a href="/view">View Rides</a></li>
				<li>
					<a href="/notification">Notifications
						{% if notification_count == 0 %}
						{% set display = "display:none;" %}
						{% endif %}
						<svg id="notification_count" style="{{display}}" height="15" width="15">
						  <circle cx="7" cy="8" r="7" stroke-width="1" fill="red"/>
						  <text x="4" y="12" font-size="12px" fill="white">{{notification_count}}</text>
						</svg>
					</a>
				</li>
				<li>
				{% if venmo_username %}
				<a id='venmologout' title='Press to Logout' href=''>Signed into Venmo (${{ balance }})</a>
				{% else %}
				<a id='venmologin' href="https://api.venmo.com/v1/oauth/authorize?client_id={{ CLIENT_ID }}&scope=make_payments%20access_profile%20access_balance%20access_email&response_type=code">Connect Venmo</a></li> 
				{% endif %}
			</ul>
			<ul class="nav navbar-nav navbar-right">
		<!---		<li><a href="signup">Sign Up</a></li>
				<li><a href="login">Log In</a></li>-->
				<li><a>Hi, {{username}}</a></li>
				<li><a href="logout">Log Out</a></li>
			</ul>
		</nav>
		
		<script>
			var nextURL = '?next=' + window.location.pathname;
			$("#venmologout").attr("href", '/venmo-logout' + nextURL);
			$("#venmologin").attr("href", $("#venmologin").attr("href") + "&redirect_uri=" + window.location.origin + "/oauth-authorized" + nextURL);
			
			var state = { 
				username: '{{ username }}',
				token: '{{ token }}',
				notification_count: parseInt('{{ notification_count }}')
			};
						    
		    onOpened = function() {
				connected = true;
			};
			      
			onMessage = function(m) {
				//alert(state.token + " received " + m);
				updateNotifications();
			};
			
			updateNotifications = function() {
				if (!state.notification_count) {
					state.notification_count = 0;
				}
				state.notification_count += 1;
				$("#notification_count").css("display","");
				$("#notification_count text").html(state.notification_count);
			};
			
		    if (state.token) {
			    var channel = new goog.appengine.Channel(state.token);
			    var handler = {
				   'onopen': onOpened,
				   'onmessage': onMessage
				};
		  		var socket = channel.open(handler);
			    socket.onopen = onOpened;
			    socket.onmessage = onMessage;
			    socket.onerror = function(e){};
	            socket.onclose = function(){};
		    }
		</script>
	{% block content %}
	{% endblock %}
