{% extends "base.html"%}

{% block content %}
		{% if rides|length > 0 %}
		<h2>Current Rides</h2>
		{% else %}
		<h2> No Current Rides </h2>
		{% endif %}
		{% for ride in rides %}
		<table width="50%"style="background: rgba(0, 0, 255, 0.3); border-radius: 1em;">
			<col width="50%">
			<col width="50%">
			<tr>	
				<td>
					<div class="flex-item" style="background: rgba(0, 0, 255, 0.0);">
						<h3 >From {{ride.start}} to {{ride.destination}}</h3>
					</div>
				</td>
			</tr>
			<tr>
				<tr>
					<td>
						<div class="flex-item">Driver: {{ride.driverName}} ({{ride.driverEmail}})</div></td>
					<td>
						<div class="flex-item">Start Time: {{ride.startTime}}</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="flex-item">Passengers: 
						{% for passenger in ride.passengers %}
						</br> 
						{{passenger.username}} ({{passenger.email}})
						{% endfor %}	
						</div>	
					</td>
					<td>
						<div class="flex-item">Cost: $<script>document.write(new Number({{ride.cost}}).toFixed(2));</script></div></td></tr>
					</td>
				</tr>
			</tr>
			{% if ride.passengers|length == 0%}
				<tr>
					<td/>
					<td>
						<form method="post">
							<button type="submit" class="btn btn-danger" style="position: relative; padding-left: 37.5%; padding-right: 37.5%; bottom: 5px">Cancel Ride</button>
							<input name="rideId" value="{{ride.key().id()}}" type="hidden" />
						</form>
					</td>
				</tr>
			{% endif %}
			<hr>
		</table>
		{% endfor %}
		{% if requests|length >0 %}
		<hr>
        <h2>Pending Requests</h2>
		<hr>
		{%
		else %}
		<h2> No Pending Requests </h2>
		
		{%  endif %}
		{% for request in requests %}
		{% set ride = request.ride %}
		<table width="50%" style="background: rgba(250, 250, 0, 0.3); border-radius: 1em;">
			<col width="50%">		
			<col width="50%">		
			<tr>
				<td>
					<div class="flex2-item" style="background: rgba(128,128,0,0.0);">
						<h3>From {{ride.start}} to {{ride.destination}}</h3>
					</div>
				</td>
			</tr>
			<tr>
				<tr>
					<td>
						<div class="flex-item" style="background:rgba(128,128,0,0.3);color:rgb(0,0,0);"> Driver: {{ride.driverName}} ({{ride.driverEmail}})</div>
					</td>
					<td>
						<div class="flex-item" style="background:rgba(128,128,0,0.3);color:rgb(0,0,0);">Start Time: {{ride.startTime}}</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="flex-item" style="background:rgba(128,128,0,0.3);color:rgb(0,0,0);">Cost: $<script>document.write(new Number({{ride.cost}}).toFixed(2));</script>
						</div>
					</td>
				</tr>
			</tr>
			<hr>
		</table>
		{% endfor %}
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
	</body>
</html>
{% endblock %}
