{% extends "base.html"%}

{% block content %}
		<h2>Pending Requests</h2>
		<div style="color:red">{{error}}</div>
		<hr>
		{% for r in requests %}
		{% set request = r.request %}
		{% set ride = request.ride %}
			<div class = "panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title">Start: {{ride.start}}</br>
					 Destination: {{ride.destination}}</h3>
				</div>
				<div class="panel-body"><b>Passenger: {{request.passenger.username}}
				</br>Bio: {{request.passenger.bio}}
				</br>Message: {{request.message}}</b></div>
				<div class="btn-group">
					<form method="post">
						<input type="hidden" name="rideId" value={{ride.key().id()}} />
						<input type="hidden" name="requesterId" value={{request.passenger.key().id()}} />
						<input type="hidden" name="requestId" value={{request.key().id()}} />
						
						<button type="submit" class="btn btn-primary" name="submit" value="true">Accept</button>
						<button type="submit" class="btn btn-danger" name="submit" value="false">Reject</button>
					</form>
				</div>
			</div>
			<hr>
		{% endfor %}
		
		<h2>Responses</h2>
		{% for response in responses %}
			{% if response.type == "accepted-ride" %}
			{% set panelType = "success" %}
			{% set status = "Accepted!" %}
			{% elif response.type == "rejected-ride" %}
			{% set panelType = "danger" %}
			{% set status = "Rejected" %}
			{% endif %}
				<div class = "panel panel-{{panelType}}">
					<div class="panel-heading">
						<h3 class="panel-title">Start: {{response.ride.start}}</br>
						 Destination: {{response.ride.destination}}</h3>
						 <h3>{{status}}</h3>
						 </br>Start Time: {{response.ride.startTime}}</b></div>
						 <form method="post">
							<input type="hidden" name="responseId" value={{response.key().id()}} />
							
							<button type="submit" class="btn btn-danger" name="removeResponse" value="true">Remove</button>
						 </form>
					</div>
				</div>
			<hr>
		{% endfor %}
		<script src="/static/js/bootstrap.min.js"></script>
	</body>
</html>
{% endblock %}
