{% extends "base.html"%}

{% block content %}
	<script src="/static/js/bootstrap.min.js"></script>
	<script>
	var countryRestrict = { 'country': 'us' };

	initialize = function () {
		
		var inputs = document.getElementsByClassName("autocomplete");
	    for (var i = 0; i < inputs.length; ++i) {
	    	// don't keep a handle to any of these autocomplete for now, but maybe in the future
	    
	    	new google.maps.places.Autocomplete(inputs[i],
	    		{componentRestrictions: countryRestrict}
	    	);
	    }
	};

	$(document).ready(function () {
		var script = document.createElement('script');
		script.type = 'text/javascript';
		script.src = "https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&callback=initialize";
		document.body.appendChild(script);
	});
	
	</script>
	
		<h1>Create a New Ride:</h1>
		
		<form  method = "post">
			<div class="form-group">
				<label>Start Location:</label>
				<input type="text" class="form-control autocomplete" name="start" value="{{start}}">
			</div>
			<div class="form-group">
				<label>Destination:</label>
				<input type="text" class="form-control autocomplete" name="destination" value="{{destination}}">
			</div>
			<div class="form-group">
				<label>Date:</label>
				<input type="text" class="form-control" placeholder="mm/dd/yyyy" name="date" value="{{startDate}}">
			</div>
			<div class="form-group">
				<label>Time:</label>
				<input type="text" class="form-control" placeholder="01:00 PM" name="time" value="{{startTime}}" >
			</div>
			<div class="form-group">
				<label>Cost per passenger ($):</label>
				<input type="number" min="0" max="1000" class="form-control" name="cost" value={{cost}}>
			</div>
			<div class="form-group">
				<label>Maximum number of passengers:</label>
				<input type="number" min="1" max="8" class="form-control" name="passengerMax" value={{passengerMax}}>
			</div>
			<div style="color: red"> {{error}}</div>
			<button class ="btn btn-primary" type="submit">Submit</button>

		</form>
		
		<hr>
	</body>
</html>
{% endblock %}
