{% extends "base.html"%}

{% block content %}
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
	<script type="text/javascript" src="static/js/postRide.js"></script>
	
		<h1>Create a New Ride:</h1>
		
		<form  method = "post">
			<div class="form-group">
				<label>Start Location:</label>
				<input type="text" class="form-control autocomplete" name="start" value="{{start}}">
			</div>
			<div class="form-group">
				<label>Destination:</label>
				<input type="text" class="form-control autocomplete" name="destination" value="{{destination}}">
			</div>
			<div class="form-group">
				<label>Date:</label>
				<input type="text" class="form-control" placeholder="mm/dd/yyyy" name="date" value="{{startDate}}">
			</div>
			<div class="form-group">
				<label>Time:</label>
				<input type="text" class="form-control" placeholder="01:00 PM" name="time" value="{{startTime}}" >
			</div>
			<div class="form-group">
				<label>Cost per passenger ($):</label>
				<input type="number" min="0" max="1000" class="form-control" name="cost" value={{cost}}>
			</div>
			<div class="form-group">
				<label>Maximum number of passengers:</label>
				<input type="number" min="1" max="8" class="form-control" name="passengerMax" value={{passengerMax}}>
			</div>
			<div style="color: red"> {{error}}</div>
			<button class ="btn btn-primary" type="submit">Submit</button>

		</form>
		
		<hr>
	</body>
</html>
{% endblock %}
