{% extends "base.html"%}

{% block content %}

<script>
	$(document).ready(function(){
		//hides text fields initially
		$('#start').hide();
		$('#dest').hide();

		//hides and shows text field based on search option
		$('#searchOptions').on('change', function(){
			if (this.value == 'start')
			{
				$('#start').show();
				$('#dest').hide();
			}
			else if (this.value == 'dest')
			{
				$('#start').hide();
				$('#dest').show();
			}
			else if (this.value == 'start_and_dest')
			{
				$('#start').show();
				$('#dest').show();
			}
			else
			{
				$('#start').hide();
				$('#dest').hide();
			}
		});
	});
</script>

		
<script> 
{% if username == "guest" %}
	$(document).ready(function () {
		$("button[type='submit']").prop("disabled", false);
	});
{% endif %}
</script>
		
<table>
	<col width="90%"/>
	<tr>
		<td>
      		<h2>Search Rides</h2>
			<br>
			<br>
    	</td>
	</tr>
</table>
		<form method="post" class="form-horizontal" role="form">
			<!-- Single button -->
			<div id="search-dropdown">
				<select class="btn btn-info dropdown-toggle" name="searchOptions" id="searchOptions" style="height:40px;width:168px;">
					<option value="time">Time</option>
					<option value="cost">Cost</option>
					<option value="start">Start</option>
					<option value="dest">Destination</option>
					<option value="start_and_dest">Start And Destination</option>
				</select>
			</div>
			<div id="search-fields">
				<input type="hidden" name="process" value="sort">
				<div id="start">
					<label for="start">Starting location:</label>
					<input width = 2000px type="text" class="form-control" id="start" name="start" value="{{start}}" placeholder="Where are you starting?"/>
				<div id="dest">
					<label for="destination">Destination:</label>
					<input type="text" class="form-control" id="destination" name="dest" value="{{dest}}" placeholder="Where are you going?"/>
				</div>
				<button style="border:none; background:none; padding:0; text-align:left" name="submit"></button>
			</div>
			<div style="color: red">{{error}}</div>
		</form>	
<br>


<table class="table table-hover table-responsive">
	<style>
		.flex-item { flex: 0 20%; padding:1%; margin-bottom:1em; background: rgba(0, 0, 255, 0.3); color:rgb(255,255,255); 
		border-radius: 1em; text-align: center;};
	

</style>
  {% for ride in rides %}
  {% set seatsLeft = ride.seatsLeft %}

  {% if seatsLeft > 0 %}
  <col width="40%">
  <col width="40%">
  <tr>
    <td>
      <table class="table" style="background: rgba(0, 0, 255, 0.3); border-radius: 1em;">
	<tr>
	  <td><div class="flex-item">From: {{ride.start}}</div></td>
	  <td><div class="flex-item">Seats Left: {{ seatsLeft }}</div></td>
	  <td><div class="flex-item">Driver Name: {{ride.driverName}}</div></td>
	</tr>
	<tr>
	  <td><div class="flex-item">To: {{ride.destination}}</div></td>
	  <td><div class="flex-item">Cost: $<script>document.write(new Number({{ride.cost}}).toFixed(2));</script>
	  </div></td>
	  <td><div class="flex-item">Start Time: {{ride.startTime}}</div></td>
    </tr>
	<tr>
		<form method="post"> 
			<input type="hidden" name="process" value="more_info">
			<input type="hidden" name="driverId" value={{ride.driverId}} />
			<input type="hidden" name="rideId" value={{ride.key().id()}} />
		<td>
			</td><td />
		<td>
	   <button class="btn btn-primary btn-block" style="position:relative;  align:center;" type="submit" name="submit" value="Join!"> More Information </input>
		</form>
	</tr>
      </table>
    </td>
    <td>
	</td>
  </tr>
  {% endif %}
  {% endfor %}
</table>
<hr>

</body>

</html>
{% endblock %}
