{% extends "base.html"%}

{% block content %}
		
<table>
	<col width="90%"/>
	<tr>
    	<td>
      	<h2>Ride</h2>
    	</td>
  </tr>
</table>

<table class="table table-hover table-responsive">
	<style>
		.flex-item { flex: 0 20%; padding:1%; margin-bottom:1em; background: rgba(0, 0, 255, 0.3); color:rgb(255,255,255); 
		border-radius: 1em; text-align: center;};
	</style>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script>


var directionsDisplay;
var directionsService = new google.maps.DirectionsService();
var map;

function initialize() {
  directionsDisplay = new google.maps.DirectionsRenderer();
  var brownUniversity = new google.maps.LatLng(41.826718, -71.402562);
  var mapOptions = {
    zoom:7,
    center: brownUniversity
  }
  map = new google.maps.Map(document.getElementById('map'), mapOptions);
  directionsDisplay.setMap(map);
}

function calcRoute() {
  //var start = new google.maps.LatLng(41.826718, -71.402562);
 //var end = new google.maps.LatLng(43.6718, -71.402562);
 var start = "{{ride.start}}";
 var end = "{{ride.destination}}";
  var request = {
      origin:start,
      destination:end,
      travelMode: google.maps.TravelMode.DRIVING
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    }
  });
}
  </script>
  
  {% set seatsLeft = ride.seatsLeft %}
  {% if seatsLeft > 0 %}
  <col width="40%">
  <col width="40%">
  <tr>
	  <style>
		  .map {width: 500px; height: 300px};
	  </style>
	<td>
      <table class="table" style="background: rgba(0, 0, 255, 0.3); border-radius: 1em;">
	<tr>
	  <td><div class="flex-item">From: {{ride.start}}</div></td>
	  <td><div class="flex-item">Seats Left: {{ seatsLeft }}</div></td>
	  <td><div class="flex-item">Driver Name: {{ride.driverName}}</div></td>
	</tr>
	<tr>
	  <td><div class="flex-item">To: {{ride.destination}}</div></td>
	  <td><div class="flex-item">Cost: $<script>document.write(new Number({{ride.cost}}).toFixed(2));</script><div></td>
	  <td><div class="flex-item">Start Time: {{ride.startTime}}</div></td>
    </tr>
	<tr>
	  <td><div class="flex-item">Trip Distance: {{ride.driveDistance}} miles</div></td>
	  <td>
	    <div class="flex-item">
			Trip Duration: 
			{{(ride.driveTime/3600)|round(0, 'floor')}} hour(s), 
			{{((ride.driveTime/60) % 60)|round(0)}} minute(s)
	    </div></td>
	</tr>
	
	<tr>
		<form method="post"> 
			<input type="hidden" name="driverId" value={{ride.driver.key().id()}} />
			<input type="hidden" name="rideId" value={{ride.key().id()}} />
		<td>
			<textarea class="form-control" style="background-color: linen" name="message" placeholder="Message for the driver. Include if you would like to join for all or part of the route." rows="3"></textarea>
			</td><td />
		<td>
	   <button class="btn btn-primary btn-block" style="position:relative; bottom:0; border-right:0;" type="submit" name="submit" value="Join!"> Request to Join </input>
		</form>
	</tr>
      </table>
    </td>
    <td>
	<div id="map" class="map"></div>
	<script>calcRoute();initialize();</script>
	</td>
  </tr>
  {% endif %}
</table>
<hr>
{% if error %}
<div align="center" style="margin-top: 20px; color: red">{{ error }}</div>
{% endif %}
</body>

</html>
{% endblock %}
