{% extends "base.html"%}

 {% block content %} 
	    <h1 align="center" id="title"><font color="8A2BE2" >College Carpool</font></h1>
	    <h3 align="center" id="title"><font color="8A2BE2" >Please check your email for a verification link</font></h3>
		<form class="form-horizontal" align="center" method="post">
			<div style = "color:{{color}}">{{status}}</div>
		
			<div class="form-group">
				<button type="submit" class="btn btn-success">Send Code Again</button>
			</div>
		</form>
	</body>
</html>
{% endblock %}
